body{
    background: #333;

}
.box {
    background-color: white;
    width: 200px;
    height: 200px;
    position: relative;
    top:200px;
    margin: auto;
    transition-property: background,border-radius,transform;
    transition-duration: 2s,2s,1s;
    /* transition-delay: 0.5s,0.5s; */
   
}
.box:hover{
    background: red;
    border-radius: 50%;
    transform: rotateX(90deg);
  

}